.navbar {
  overflow: hidden;
  background-color: #A9CCE3 ;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color:#17202A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color:#F5CBA7 ;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
